<head>
<title> HomePage </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<style>

h1 {
    text-align:center;
}
.content_post {
    border: 3px solid #75c196;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}
.content_comment {
    border: 3px solid blue;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}
.new_post {
    border: 3px solid #75c196;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 80%;
}

.right-half {
  background-color: yellow;
  position: absolute;
  right: 0px;
  width: 20%;
}
</style>

<script type="text/javascript">

  $(function() {

    $(".edit_button").click(function () {
      var button = $(this);
      var read_post = document.getElementsByClassName("read_post_" + button[0].value);
      var edit_post = document.getElementsByClassName("edit_post_" + button[0].value);
      var save_button = document.getElementsByName("savePost_" + button[0].value);
      var cancel_button = document.getElementsByName("cancelEditPost_" + button[0].value);
      $(this)[0].style.visibility = "hidden";
      read_post[0].style.visibility = "hidden";
      edit_post[0].style.visibility = "visible";
      save_button[0].style.visibility = "visible";
      cancel_button[0].style.visibility = "visible";
    });

    $(".cancel_button").click(function () {
      var button = $(this);
      var read_post = document.getElementsByClassName("read_post_" + button[0].value);
      var edit_post = document.getElementsByClassName("edit_post_" + button[0].value);
      var save_button = document.getElementsByName("savePost_" + button[0].value);
      var edit_button = document.getElementsByName("editPost_" + button[0].value);
      $(this)[0].style.visibility = "hidden";
      read_post[0].style.visibility = "visible";
      edit_post[0].style.visibility = "hidden";
      save_button[0].style.visibility = "hidden";
      edit_button[0].style.visibility = "visible";
    });

    $(".save_button").click(function () {
      var button = $(this);
      var edit_post = document.getElementsByClassName("edit_post_" + button[0].value)[0].value;
      document.getElementById("new_content_" + button[0].value).value = edit_post;
    });

  });

  function deleteFunction() {
    if(!confirm("Do you really want to do this?")) {
      return false;
    }
    return true;
  }

  function validateEditForm(post_id)
  {
    if(document.getElementsByClassName("edit_post_" + post_id)[0].value == "")
    {
      alert("Please type content");
      return false;
    }
    return true;
  }
</script>

</head>
<body>

  <span style="float:right;">
    <a href="/logout">LOG OUT</a>
  </span>
  <h1>Welcome <%= user.name %> to <%= page_user.name %>'s homepage</h1><br>
  <div style="text-align:center;">
    <a href="/">Back to homepage</a>
  </div>
  <div class="left-half">
    <% posts.each do |post| %>
      <div class='content_post'>
        <p class='read_post_<%= post.id %>'><%= post.content %></p>
        <% comments.each do |comment| %>
          <% if comment.post_id.to_i == post.id %>
            <p class="content_comment"><%= comment[:name] %> wrote: "<%= comment.content %>"</p>
          <% end %>
        <% end %>
        <form action="/comments/" method="POST">
          <input type="hidden" name="post_id" value ="<%= post.id %>">
          <input type="hidden" name="user_id" value ="<%= user.id %>">
          <input type="text" name="comment_content" value ="">
          <button type="submit">Post</button>
        </form>
      </div>
    <% end %>

  </div>

  <div class="right-half">

    <h3>People you may know</h3><br>
      <% friends.each do |friend| %>
        <% if friend.type == "pending_first_second" %>
          <p><a href="/homepage/id=<%= friend[:id] %>"><%= friend[:name] %></a></p>
          <button disabled>Requested</button>
          <form action="/delete_relation/" method="GET">
            <button type="submit" >Cancel</button>
            <input type="hidden" name="user_first_id" value ="<%= user.id %>">
            <input type="hidden" name="user_second_id" value ="<%= friend[:id] %>">
          </form>
        <% end %>
      <% end %>
      <% new_users.each do |new_user| %>
          <p><a href="/homepage/id=<%= new_user.id %>"><%= new_user.name %></a></p>
          <form action="/add_friend/" method="GET">
            <button type="submit" >Add friend</button>
            <input type="hidden" name="user_first_id" value ="<%= user.id %>">
            <input type="hidden" name="user_second_id" value ="<%= new_user.id %>">
          </form>
      <% end %>

    <h3>Your friend</h3><br>
      <% friends.each do |friend| %>
        <% if friend.type == "friends" %>
          <p><a href="/homepage/id=<%= friend[:id] %>"><%= friend[:name] %></a></p>
          <form action="/delete_relation/" method="GET">
            <button type="submit" >Delete friend</button>
            <input type="hidden" name="user_first_id" value ="<%= user.id %>">
            <input type="hidden" name="user_second_id" value ="<%= friend[:id] %>">
          </form>
        <% end %>
      <% end %>

    <h3>Your friend's request</h3><br>
      <% friends.each do |friend| %>
        <% if friend.type == "pending_second_first" %>
          <p><a href="/homepage/id=<%= friend[:id] %>"><%= friend[:name] %></a></p>
          <form action="/accept_relation/" method="GET">
            <button type="submit" >Accept</button>
            <input type="hidden" name="user_first_id" value ="<%= user.id %>">
            <input type="hidden" name="user_second_id" value ="<%= friend[:id] %>">
          </form>
          <form action="/delete_relation/" method="GET">
            <button type="submit" >Decline</button>
            <input type="hidden" name="user_first_id" value ="<%= user.id %>">
            <input type="hidden" name="user_second_id" value ="<%= friend[:id] %>">
          </form>
        <% end %>
      <% end %>
  </div>

</body>
